:root{
    --background-color : #FFEED8;
    --secondary-bg-color : #FFF9F1;
    --font-color : #603809;
    --description-color : #707070;
    --border-color : rgb(249, 192, 106, 0.50);
    --btn-color :  rgb(249, 192, 106);
}

.section4-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    height: 800px;
}

.coffe-splash-right-image{
    position: absolute;
    width: 550px;
    right: 1px;
    top: -180px;
}
.benefits-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    column-gap: 20px;
    margin-top: 50px;
    padding: 20px 100px;
    margin-bottom: 20px;
}
.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg-color);
    height: 350px;
    padding-top: 50px;
    border: 1px solid var(--border-color);
    
}
.benefits img{
    width: 100px;
}
.benefit-title{
    margin-top: 20px;
    font-size: 28px;
    color: var(--font-color);
    font-weight: bold;
}
.benefit-description{
    margin-top: 20px;
    font-size: 22px;
    width: 200px;
    text-align: center;
    color: var(--description-color);
}

.baseline-description{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: var(--font-color);
    font-weight: bold;
}
.join-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-us-btn{
    margin-top: 25px;
    padding: 15px 50px;
    background-color: var(--btn-color);
    border: none;
    font-size: 18px;
    border-radius: 30px;
}